<!DOCTYPE html>
<html lang="en">

<body>
    {{!-- page counter --}}
    <p>Enter a movie title and we'll try our best to find its soundtrack album on spotify.</p>
    <p>Disclaimer: Soundtrack results may not always be accurate.</p>
</body>

</html>